@model Estudiantes.Models.ORM.Calificacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Calificacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clase.NombreClase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clase.NombreClase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estudiante.Matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estudiante.Matricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodo.NombrePeriodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo.NombrePeriodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalificacionFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalificacionFinal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCalificacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
